.down-arrow {
    background-color: black;
    color: white;
    font-size: 1.8rem;
    padding: 4px 12px;
    border-radius: 50%;

}


.down-arrow[aria-expanded="true"] i{
    transform: rotate(-90deg) ;
    color: white;
  }

  .down-arrow:hover{
      color: white;
  }