*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main {
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
}


.main div{
    height: 280px;
    min-width: 300px;
    background-color: red;
    margin: 10px;
    text-align: justify;
}